@font-face {
  font-family: "Roblox";
  src: url("./assets/fonts/ROBLOX.otf");
}

@font-face {
  font-family: "Arcade";
  src: url("./assets/fonts/Arcade.ttf");
}

$r: "Roblox", sans-serif;
$a: "Arcade", sans-serif;

*::selection {
  background: #b6b6b6;
  color: #323232;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background: #f1f1f1;
  overflow: hidden;

  font-family: $r;
  color: #cecece;
  text-shadow: -1px -1px 0 rgb(121, 121, 121), 1px -1px 0 rgb(121, 121, 121),
    -1px 1px 0 rgb(121, 121, 121), 1px 1px 0 rgb(121, 121, 121);
  font-size: 17px;
}

h1 {
  font-family: $a;
  color: #000;
  text-shadow: none;
  font-weight: normal;
  font-size: 70px;
}
